openapi: 3.0.3
info:
  title: MVC Bridge API Spec
  description: API definition for Mvc Bridge provided apis
  version: 1.0.11
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  contact:
    email: heqiming@metasv.com
    name: MVC Bridge team

servers:
  - url: 'https://testnet.mvcbridge.com'
  - url: 'https://mainnet.mvcbridge.com'
tags:
  - name: vault
    description: Vault is the place you send your assets to or receive your assets from.
  - name: order
    description: bridge order related api

paths:
  /vault/{chainName}/{tokenName}/info:
    get:
      tags:
        - vault
      summary: Get the vault info for the token.
      parameters:
        - name: chainName
          in: path
          description: The public chain of your source address(mvc eth tron bsc ...)
          required: true
          schema:
            type: string
        - name: tokenName
          in: path
          description: The token name you sent(usdt usdc ...)
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result of your vault info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VaultInfoResponse'

  /order/{fromChain}/{fromTokenName}/{address}/pending:
    get:
      tags:
        - order
      summary: Get the deposits waiting for request or not processed yet.
      parameters:
        - name: fromChain
          in: path
          description: The public chain of your source address(mvc eth tron bsc ...)
          required: true
          schema:
            type: string
        - name: fromTokenName
          in: path
          description: The token name you sent(usdt usdc ...)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: The address from which you send your tx. Must be valid source in the transaction.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result of your orders waiting for request.
          content:
            application/json:

              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderPending'
  /order/{fromChain}/{fromTokenName}/{address}/finalized:
    get:
      tags:
        - order
      summary: Get the deposits waiting for request.
      parameters:
        - name: fromChain
          in: path
          description: The public chain of your source address(mvc eth tron bsc ...)
          required: true
          schema:
            type: string
        - name: fromTokenName
          in: path
          description: The token name you sent(usdt usdc ...)
          required: true
          schema:
            type: string
        - name: address
          in: path
          description: The address from which you send your tx. Must be valid source in the transaction.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result of your orders waiting for request.
          content:
            application/json:

              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrderFinalized'


  /order/register:
    post:
      tags:
        - order
      summary: Register a new order to the bridge.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderRegisterRequest'
      responses:
        '200':
          description: Result of your order registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderRegisterResp'


components:
  securitySchemes:
    # arbitrary name for the security scheme
    bearerAuth:
      type: http
      scheme: bearer
      # optional, arbitrary value for documentation purposes
      bearerFormat: JWT
  schemas:
    UnauthorizedError:
      description: Access token is missing or invalid
    VaultInfoResponse:
      type: object
      description: The  vault info for the token.
      properties:
        address:
          description: The deposit address for the vault.
          type: string
        chain:
          description: The public chain of your source address(mvc eth tron bsc ...)
          type: string
        tokenName:
          description: The token name you sent(usdt usdc ...)
          type: string
        decimal:
          description: The decimal of the token.
          type: integer
        depositMinAmount:
            description: The minimum amount of the token to deposit, if deposit amount is lower than this, it will not be processed.
            type: integer
            format: int64
        depositConfirmation:
            description: The confirmation needed for the deposit transaction.
            type: integer
        withdrawGasFee:
            description: Gas fee to cover onchain transfer. AmountYouReceive = amountYouSent - withdrawGasFee - withdrawBridgeFeeRate * amountYouSend - withdrawBridgeFeeFixed
            type: integer
            format: int64
        withdrawBridgeFeeRate:
            description: The service fee rate of bridge. AmountYouReceive = amountYouSent - withdrawGasFee - withdrawBridgeFeeRate * amountYouSend - withdrawBridgeFeeFixed
            type: string
        withdrawBridgeFeeFixed:
            description: The service fee fixed amount of bridge. AmountYouReceive = amountYouSent - withdrawGasFee - withdrawBridgeFeeRate * amountYouSend - withdrawBridgeFeeFixed
            type: integer
            format: int64
    OrderRegisterRequest:
      type: object
      description: Register a bridging request.
      properties:
        fromChain:
          description: The public chain of your source address(mvc eth tron bsc ...)
          type: string
        fromTokenName:
          description: The token name you sent(usdt usdc ...)
          type: string
        txid:
          description: The transaction of your sending request. Must be found on the blockchain to proceed.
          type: string
        amount:
          description: Amount you send, use String for large values.
          type: string
        fromAddress:
          description: The address from which you send your tx. Must be valid source in the transaction.
          type: string
        toChain:
          description: The public chain you want to bridge your asset to (mvc eth tron bsc ...).
          type: string
        toTokenName:
          description: The token name you want to receive(usdt usdc ...)
          type: string
        toAddress:
          description: The address you want to bridge your asset to.
          type: string
        signature:
          description: The signature indicating you are the owner of fromAddress.
          type: string

    OrderRegisterResp:
      type: object
      properties:
        orderTxid:
          type: string
          description: The txid of your request.
        success:
          type: boolean
          description: True if registered successful.
        message:
          type: string
          description: The reason of your failed request.

    OrderPending:
      type: object
      description: The deposits waiting for request to confirm target.
      properties:
        vaultId:
          type: string
          description: The vault id of your request.
        txid:
          type: string
          description: The txid of your request.
        fromAddress:
          type: string
          description: The address from which you send your tx. Must be valid source in the transaction.
        fromAmount:
          type: string
          description: Amount you sent, use String for large values.
        state:
          type: string
          description: State of your order(WAITING_REQUEST, CONFIRMING, PROCESSING).
        targetVaultId:
          type: string
          description: The vault id of your target request.
        toAddress:
          type: string
          description: The address you want to bridge your asset to.
        targetAmount:
          type: string
          description: Amount you can receive after the fee, use String for large values.
        confirmationRequired:
          type: integer
          description: The confirmation needed for the deposit transaction.
        currentConfirmation:
          type: integer
          description: The current confirmation of the deposit transaction.
    OrderFinalized:
      type: object
      description: The deposits waiting for request to confirm target.
      properties:
        vaultId:
          type: string
          description: The vault id of your request.
        txid:
          type: string
          description: The txid of your request.
        finalizedTimestamp:
          type: integer
          format: int64
          description: The time when your request finalize.
        fromAddress:
          type: string
          description: The address from which you send your tx. Must be valid source in the transaction.
        fromAmount:
          type: string
          description: Amount you sent, use String for large values.
        state:
          type: string
          description: State of your order(SUCCESS, DROPPED, MINIMUM_NOT_MET).
        targetVaultId:
          type: string
          description: The vault id of your target request.
        toAddress:
          type: string
          description: The address you want to bridge your asset to.
        targetAmount:
          type: string
          description: Amount you can receive after the fee, use String for large values.
        processTxid:
          type: string
          description: The txid of the transaction that processed your request.
